@font-face {
    font-family: "Snell";
    src: url("files/SnellRoundhand.woff") format('woff');
}
/*
.discount-box {
  background-color: rgba(0,0,175,.1);
  border-radius: 4px;
  font-family: "Share", sans-serif;
  height: 150px;
  margin: 15px 0;
  padding: 20px;
  position: relative;
}
.discount-box .discount-close-btn {
  color: darkred;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  top: 0px;
  right: 3px;
  transition: transform .1s linear;
}
.discount-close-btn:hover {
  text-decoration: none;
  color: red;
  transform: scale(1.3);
}
.discount-star {
  margin-top: -45px;
  margin-left: 50px;
}
.discount-box h3 {
  font-size: 2em;
  line-height: 1.7em;
  margin-top: -175px;
} */

/*  Store Discount */

/* .ecwid-productBrowser-price .ecwid-productBrowser-price-value::after {
  content: '-20%';
  color: #e84034;
  display: block;
  font-size: .75em;
  font-style: italic;
  letter-spacing: 1px;
  margin-left: 35px;
} */

body {
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
}

.snell {
  font-family: "Snell";
  font-size: 2em;
}
.snell-about {
  font-family: "Snell";
  font-size: 1.5em;
}

#page-header h1 {
  font-size: 75px;
}
@media (max-width: 500px) {
  #page-header h1 {
    font-size: 60px;
  }
}
@media (max-width: 375px) {
  #page-header h1 {
    font-size: 50px;
  }
}
.banner {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 800px) {
  .banner {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}

#page-title {
  font-family: "Snell";
  font-size: 50px;
  font-weight: bold;
  margin-top: 75px;
}

.navbar {
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.navbar a {
  color: white;
  transition: all .15s ease-in;
}

.navbar a:hover {
  color: black;
  text-decoration: none;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #d8e5fe;
}
.navbar .active,
.navbar .active:hover {
  background-color: #d8e5fe;
}
.navbar .active a {
  color: black;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle {
  background-color: #bbb;
  border: 1px solid black;
}
.navbar-toggle .icon-bar {
  background-color: black;
  height: 1px;
}



#banner-box {
  background-color: white;
  width: 100%;
}

#home-display {
  position: relative;
}
.display-text {
  position: absolute;
  right: 60px;
  top: 50px;
}
.display-text h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0 0 10px black;
}
@media (max-width: 900px) {
  .display-text h2 {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .display-text {
    right: 20px;
    top: 10px;
  }
}
@media (max-width: 600px) {
  .display-text h2 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .display-text h2 {
    font-size: 20px;
  }
  .display-text {
    right: 5px;
    top: 0;
  }
}
@media (max-width: 420px) {
  .display-text h2 {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .display-text h2 {
    font-size: 16px;
  }
}

.display2 {
  padding-left: 15px;
}
.display3 {
  padding-left: 30px;
}
.display4{
  padding-left: 45px;
}
@media (max-width: 340px) {
  .display2,
  .display3,
  .display4,
  .home-cta {
    padding: 0;
  }
}

.home-cta {
  margin-top: 50px;
  opacity: 0;
  padding-left: 60px;
  transition: all 1s ease-in-out;
  transform: translateX(-200px);
}
.home-cta a {
  background-color: #0657f3;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  transition: all .15s ease-in;
}
.home-cta a:hover {
  background-color: #043490;
  text-decoration: none;
}
@media (max-width: 900px) {
  .home-cta a {
    font-size: 20px;
  }
}


/* ABOUT.HTML */


#about-main {
  
  color: white;
  font-family: "Lato", sans-serif;
  line-height: 35px;
}

#about-title h1,
#store-title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  margin: auto;
}
#about-title h1 {
  color: white;
  margin-bottom: 35px;
}

#about-body {
  background-image: url('./img/about-bg.jpg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.8);
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 40px;
  padding: 30px 0;
}
@media (max-width: 1000px) {
  #about-body {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  #about-body {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  #about-body {
    line-height: 30px;
  }
}
@media (max-width: 700px) {
  #about-body {
    font-size: 14px;
    line-height: 25px;
  }
}
#about-body p {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  #about-body p {
    width: 90%;
  }
}
.about-pg {
  text-indent: 50px;
}

#narrative-block {
  margin: 30px 0;
}

#narrative-block h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  /* font-style: italic; */
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
}
@media (max-width: 700px) {
  #narrative-block h2 {
    font-size: 25px;
  }
}

#signature {
  font-family: "Dancing Script", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-top: 20px;
}
@media (max-width: 500px) {
  #signature {
    font-size: 30px;
  }
}




/* STORE */



#store-title {
  border-top: #bbb solid 1px;
}

@media (max-width: 1100px) {
  .store-container {
    max-width: 800px;
    margin: 0 auto !important;
  }  
}


/*   FOOTER    */


#footer {
  font-family: "Noto Serif";
  letter-spacing: 1px;
  margin-top: 5%;
  margin-bottom: 10%;
}
.social-media {
  text-align: center;
}
.contact-info {
  text-align: left;
}
.business-info {
  text-align: left;
}
@media (max-width: 991px) {
  .contact-info,
  .business-info {
    text-align: center;
  }
}
.social-media a {
  color: #444;
}
.contact-info a {
  color: #04338f;
}
.social-media i:hover {
  opacity: .7;
}

.contact-info {
  margin-top: 10px;
}

.contact-info a {
  color: #04338f;
}


.email-br {
  display: none;
}
@media (max-width: 400px ){
  .email-br {
    display: block;
  }
}
